.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;

}

.dialogsItems {
    margin: 10px 5px 10px 10px;
    padding: 10px;
    background-color: #fff;
}

.dialog {

}

.dialog a {
text-decoration: none;
}

.dialog.active a {
color: darkgoldenrod;
}

.messages {
    margin: 10px 10px 10px 5px;
    padding: 10px;
    background-color: #fff;
}

.message {

}