.nav {
    grid-area: nav;
    background-color: #363940;
    padding: 20px;
}

.item {
    margin-bottom: 15px;
}

.item a{
    color: #94b1c7;
    text-decoration: none;
}

.item a.active {
    color: #ffffff;
}