.nav {
    background-color: var(--palette-third);
}


.item a{
    color: #94b1c7;
    text-decoration: none;
}

.item {
    color: #94b1c7;
    text-decoration: none;
}

.item a.active {
    color: #ffffff;
}