
:root {
  --palette-primary: #ec4d3b;
  --palette-second: #f8f8f8;
  --palette-third: #363940;
  --palette-white: #fff;
  --palette-wildBlueYonder: #94b1c7;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
